@import "_reset.scss";
.container{
   
    height: 40px;
    padding: 20px;
    background: #ddd;
    .cart-list{
        height: 60px;
        width: 100%;
        .empty{
            width: 40px;
            height: 40px;
            background-image: url(../images/car1.png);
            background-size: 40px 40px;
            position: relative;
            &.full{
                background-image: url(../images/car2.png);
            }
            span{
                width: 30px;
                height: 30px;
                position: absolute;
                top: -15px;
                right: -15px;
                background: rgb(255, 0, 0);
                border-radius: 50%;;
            }
            .cart-lists{
                width: 180px;
                background: #f99;
                position: absolute;
                top: 40px;
            }
            .small-img{
                img{
                    float: left;
                    width: 60px;
                    height: 80px;
                }
            }
            .title{
                float: left;
                margin: 30px 10px 0;
            }
            
        }
    }
    ul{
        width: 1200px;
        margin: 0 auto;
    }
    ul .con{
        float: left;
        width: 220px;
        margin: 10px;
        box-shadow: 0 0 5px #ddd;
        overflow: hidden;
        .large-img{
            height: 220px;
            width: 220px;
            display: block;
        }
        .title{
            margin: 10px;
            width: 190px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .goods-price{
            font-size: 14px;
            color: #ff6700;
            text-align: center;
            margin-bottom: 10px;
        }
        button{
            width: 220px;
            border-radius: 5px;
            background: #f99;
            outline: none;
        }
    }
    
}